{:base-source-path "notebooks"
 :base-target-path "docs"
 :book {:favicon "notebooks/images/favicon.ico"}
 :clean-up-target-dir true
 :first-as-index true
 :format [:quarto :html]
 ; :hide-code true

 :hide-info-line true
 :hide-ui-header true
 :kindly/options {:kinds-that-hide-code #{:kind/code :kind/hiccup :kind/html :kind/md}}
 :quarto {:format {:html {:theme "darkly"}}}}
  