{:base-source-path "notebooks"
 :base-target-path "docs"
 :book {:favicon "notebooks/images/favicon.ico"}
 :clean-up-target-dir true
 :first-as-index true
 :format [:quarto :html]
 :hide-code true
 :hide-info-line true
 :hide-ui-header true
 :quarto {:format {:html {:theme "darkly"}}}}
  