{:deps
 {babashka/fs {:mvn/version "RELEASE"}
  org.clojure/clojure {:mvn/version "RELEASE"}
  org.scicloj/noj {:mvn/version "RELEASE"}}

 :paths
 ["src" "notebooks"]

 :aliases
 {:render {:exec-fn parens-from-the-past.render/make-novel :exec-args {:show false}}}}

